#addDisplay {
  width: 100%;
  background-color: lightgray;
  text-decoration-color: white;
  margin-bottom: 5px;
}

.zonepanel {
  background-color: lightgray;
  margin: auto;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

.zonepanel form {
  display: flex;
}

/*
.zones {
  padding: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 25px;
}
*/
