html {
	font-family: sans-serif;
}
body {
	margin: 10px;
}

#timeMenu {
	width: 100%;
	height: 130px;
	padding: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: green;
	color: white;
	text-align: right;
}

#dateTimeSelect {
	display: none;
}

#addDisplay {
	width: 99%;
	max-width: 100%;
	background-color: white;
	margin:0;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	top: 0px;
}

#addDisplay button {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 0;
	background-color: lightgray;
	font-weight: 600;
}

#addDisplay button:hover {
	background-color: silver;
}

.zonepanel {
	background-color: forestgreen;
	padding: 5px;
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 5px;
	border-radius: 15px;
	display: flex;
	gap: 10px;
}

.zones {
	width: 100px;
	border-radius: 10px;
	border: 0;
}

.timer {
	color: white;
}

